type file
id WebSharper.WebSpeech
authors IntelliFactory
owners IntelliFactory
projectUrl https://websharper.com/
repositoryType git
repositoryUrl https://github.com/dotnet-websharper/webspeech/
licenseUrl https://github.com/dotnet-websharper/webspeech/blob/master/LICENSE.md
iconUrl https://github.com/dotnet-websharper/core/raw/websharper50/tools/WebSharper.png
description
    WebSharper Extensions for WebSpeech
tags
    Web JavaScript F# C#
files
    ../WebSharper.WebSpeech/bin/Release/netstandard2.0/WebSharper.WebSpeech.dll ==> lib/netstandard2.0
    ../WebSharper.WebSpeech/bin/Release/netstandard2.0/WebSharper.WebSpeech.xml ==> lib/netstandard2.0
dependencies
        WebSharper ~> LOCKEDVERSION:[3]

